<header>
	<nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Badwater Main Menu">
		<div class="container-fluid align-items-center">
			<a class="navbar-brand" href="/">
				<img src="/badwater-logo.png" alt="Logo"/>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mainnavbar">
				<ul class="navbar-nav mx-auto gap-xl-5">
					<li class="nav-item dropdown">
						<button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							SPIRITS
						</button>
						<ul class="dropdown-menu">
							{% for category, bottles in navbarData.spirits %}
								<li>
									<a href="/search?categories={{ category }}" class="dropdown-item">{{ category }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item dropdown">
						<button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							DISTILLERY
						</button>
						<ul class="dropdown-menu">
							{% for distiller in navbarData.distillers %}
								<li>
									<a class="dropdown-item" href="/search?distiller={{ distiller }}">{{ distiller }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item dropdown">
						<button class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							REGION
						</button>
						<ul class="dropdown-menu">
							{% for region in navbarData.regions %}
								<li>
									<a class="dropdown-item" href="/search?region={{ region }}">{{ region }}</a>
								</li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/search?categories=Whiskey" type="button" aria-expanded="false">
							WHISKEY
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact" type="button" aria-expanded="false">
							CONTACT
						</a>
					</li>
				</ul>
				<div class="d-xl-flex align-items-xl-center gap-xl-3">
					<a href="/wishlist" class="nav-link" aria-label="Wishlist"><i class="bi bi-card-checklist"></i></a>
					<form class="d-flex" id="navbar-form">
						<div class="input-group">
							<input class="form-control border-0" type="search" placeholder="Type a Spirit Name, Distillery…" aria-label="Search" aria-describedby="search-icon"/>
							<button type="submit" class="input-group-text border-0" id="search-icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-search text-light" viewbox="0 0 16 16">
									<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
								</svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</nav>
</header>
